// @import 'base.scss';
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
.work {
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    @media (min-width: $md3 + px) {
        display: flex;
    }
    @media (max-width: $md3 + px) {
        flex: 0 0 90%;
    }
    &__img {
        flex: 0 0 246px;
        display: block;
        border-radius: 6px;
        min-height: 180px;
        overflow: hidden;
        @media (min-width: $md4 + px) {
            margin: 0 18px 0 0;
        }
        @media (max-width: $md3+px) {
            margin: 0px 0px 17px 0px;
            padding: 0px 0px 60% 0px;
        }
    }
    &__title {
        color: inherit;
        text-decoration: none;
        font-weight: bold;
        font-size: 30px;
        line-height: 44/30 *100%;
        margin: 0 0 16px 0;
        @media (max-width: $md3+px) {
            font-size: 26px;
        }
        @media (max-width: $md4+px) {
            font-size: 24px;
        }
    }
    &__info {
        display: flex;
        align-items: center;
        margin: 0 0 16px 0;
    }
    &__year {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        font-size: 18px;
        color: white;
        width: 62px;
        height: 25px;
        background: #142850;
        border-radius: 16px;
        @media (max-width: $md4+px) {
            font-size: 16px;
        }
    }
    &__category {
        margin: 0 0 0 25px;
        font-size: 20px;
        color: #8695A4;
        @media (max-width: $md4+px) {
            font-size: 16px;
        }
    }
}